<thead>
  <tr>
    <th>
      {{moment-format month 'MMM YYYY'}}
    </th>
  </tr>
</thead>

<tbody>
  {{#each weeks as |week|}}
    <tr>
    {{#each week as |day i|}}
      {{#if day}}
        <td class="day">
          {{moment-format day 'D'}}
        </td>
      {{else}}
        <td> </td>
      {{/if}}
    {{/each}}
    </tr>
  {{/each}}
</tbody>
